@tailwind base;

@tailwind components;

@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Roboto:wght@100;400&family=Rubik:wght@300;900&display=swap');

.is-invalid{
    color: red;
    background-color: seagreen;
}

.bg-gradient-green{
    background-image: linear-gradient(to right, rgba(18, 185, 101, 0.966), rgb(17, 94, 55) );
}

.bg-gradient-red{
    background-image: linear-gradient(to right, rgba(226, 55, 83, 0.966), rgb(114, 8, 34) );
}
